
h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
}
p,a{
    font-family: 'Ubuntu', sans-serif;
}
#title.active {
    background-color: #B23CFD;
  }
.navbar a:hover {
    background-color: #39C0ED;
}
#title{
    text-align: center;
}
#carousel
{

    position: relative;
   height: 90vh;
}
.d-block{
    height: 780px;

}

#features{
    position: relative;
    text-align: center;
    padding: 1% 1%;
    margin: 1% 3%;
            
}
#why{
    text-align: center;
    padding: 5% 5%;
    margin: 1% -1%;
    background-image: linear-gradient(#4BB543 , #96bb7c), url("images/why.PNG");
    
}
.why-box{
    padding:   5%;
}
#testimonials{
    text-align: center;
    background-color: white;
    padding: 2%;
    margin: -1%;
  }

#press{
   
    text-align: center;
    padding-bottom: 3%;
    margin-top: -1%;
}
.press-logo{
    width: 10%;
    
    margin: 20px 20px 50px;
}
#cta{
    text-align: center;
    display: block;
    padding: 3% 5%;
}
#cta{
    background-color: #262626;
    text-align: left;
    color: #aaaaaa;
}
#footer{
     overflow: hidden;
background-color: grey;
color: honeydew;
 
}
