#title{
    background-color: aliceblue;

}
#features{
    text-align: center;
    padding: 3% 1%;
    margin: 1% 3%;
}

.feature-box{
    padding: 3%;
}

#why{
    text-align: center;
    padding: 5% 5%;
    margin: 1% -1%;
    background-image: linear-gradient(#206a5d , #96bb7c), url("/images/why.PNG");
}

.why-box{
    padding:   5%;
}

#testimonials{
    text-align: center;
    background-color: white;
    padding: 2%;
    margin: -1%;
  
    

}

#press{
   
    text-align: center;
    padding-bottom: 3%;
    margin-top: -1%;
}

.press-logo{
    width: 10%;
    
    margin: 20px 20px 50px;
}
