#title{
    background-color: aliceblue;

}
#features{
    text-align: center;
    padding: 3% 1%;
    margin: 1% 3%;
}

.feature-box{
    padding: 3%;
}

#why{
    text-align: center;
    padding: 5% 5%;
    margin: 1% -1%;
    background-image: linear-gradient(#206a5d , #96bb7c), url("/images/why.PNG");
}

.why-box{
    padding:   5%;
}

#testimonials{
    text-align: center;
    

}

